/* 代码整理：懒人之家 */
body {
	margin: 0;
	padding: 0;
	background: #1d1d1d;
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 100%;
}

p {
	color: #ffff66;
	margin-top: .5em;
	font-size: .75em;
	padding-left:15px;
}
#navigation-block {
	position:relative;
	top:200px;
	left:200px;
}
#hide {
	position:absolute;
	top:30px;
	left:-190px;
}
ul#sliding-navigation {
	list-style: none;
	font-size: .75em;
	margin: 30px 0;
	padding: 0;
}
ul#sliding-navigation li.sliding-element h3, ul#sliding-navigation li.sliding-element a {
	float:left;
	width: 100px;
	padding: 5px 18px;
	margin: 0;
	margin-bottom: 5px;
}
ul#sliding-navigation li.sliding-element h3 {
	color: #fff;
	font-weight: normal;
}
ul#sliding-navigation li.sliding-element a {
	color: #999;
	border: 1px solid #1a1a1a;

}
ul#sliding-navigation li.sliding-element a:hover {
	color: #ffff66;
}
