@charset "utf-8";
body {
    font-family: 'museoslab500';
    text-transform: uppercase;
    background: #333;
    font-size: 100%;
    text-align: center;
    -webkit-user-select: none;
         -o-user-select: none;
            user-select: none;
}